<div class="builder container">
	<div class="loading" ng-show="loading">LOADING...</div>
	<div class="body container" ng-show="!loading">
		<div class="toolbar">
			<div class="table container">
				<div class="table-cell align-left error" ng-bind="getError()"></div>
				<div class="table-cell align-right">
					<button class="btn" ng-click="save()">Save</button>
				</div>
			</div>
		</div>
		<div class="table container">
			<!-- SIDEBAR -->
			<div class="table-cell sidebar sidebar-left">
				<div class="panel base-panel">
					<div class="title">Base Blocks</div>
					<div class="body">
						<div ng-repeat="(typeName, blockType) in ::baseBlocks">
							<div class="type-name" ng-bind="typeName"></div>
							<div class="blocks">
								<div class="block base"
									ng-class="{'active': block.selected}"
									ng-repeat="(blockName, block) in ::blockType"
									ng-style="::getBlockStyle(block)"
									ng-click="select(typeName, block, blockName)"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END SIDEBAR -->
			<!-- MAP -->
			<div class="table-cell map">
				<div class="table container">
					<div class="table-cell bar bar-top">
					</div>
					<div class="table-row">
						<div class="table container lower-map-container">
							<div class="table-cell bar bar-left"></div>
							<div class="table-cell container builder-map-container">
								<div class="grid-container">
									<builder-map map="map" class="container"></builder-map>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END MAP -->
		</div>
	</div>
</div>
