@error-font-color: #ff6961;
@spritemap-url: 'http://localhost:8000/spritemap.jpg';
@block-size: 32px;
@base-block-size-multiplier: 1.5;
@spritesheet-width: 800px;
@grid-block-border-color: rgba(0,0,0,0.075);
@draw-area-bg-color: #333;
@block-x-count: 20;
@block-y-count: 20;
@extra-map-panning: 80px;
@inner-bar-size: 15px;

@scrollbar-color: rgba(48,130,157,0.8);
@scrollbar-color-inactive: rgba(48,130,157,0.45);
@scrollbar-color-shadow: rgba(20,56,67,0.35);

@grid-block-dot-color: #538369;
@grid-block-dot-border-color: #bbb;

