@import (reference) '_var.less';

.builder {
	.toolbar {
		background: #333;
		padding: 5px;
	}

	.sidebar {
		background: #ddd;
		min-width: 300px;
		width: 300px;
	}

	.lower-map-container {
		height: calc(~"100% - " @block-size);

		.builder-map-container {
			background-color: @draw-area-bg-color;
			display: flex;
			overflow: auto;
		}
		.grid-container {
			display: table;
			height: 100%;
			position: relative;
			width: 100%;
		}
	}

	.bar {
		background: #ccc;
		color: #333;
		font-size: 12px;

		&.bar-top {
			height: @inner-bar-size;
		}

		&.bar-left {
			min-width: @inner-bar-size;
			width: @inner-bar-size;
		}
	}

	.block {
		background-image: url(@spritemap-url);
		background-origin: border-box;
		background-position-x: @block-size * -1;
		background-position-y: @block-size * -1;
		background-repeat: no-repeat;
		background-size: @spritesheet-width;
		box-sizing: border-box;
		cursor: pointer;
		height: @block-size;
		position: relative;
		width: @block-size;

		&.base {
			background-size: @spritesheet-width * @base-block-size-multiplier;
			border: 1px solid rgba(0,0,0,0.25);
			display: inline-block;
			margin: 0px 0px 5px 5px;
			height: @block-size * @base-block-size-multiplier;
			transition: transform cubic-bezier(0.04, -0.25, 0.27, 3.85) 200ms;
			width: @block-size * @base-block-size-multiplier;

			&.active {
				border: 2px solid rgba(0,0,0,0.65);
				transform: scale(1.1, 1.1);
				opacity: 1.00;
				box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.5);
			}
		}

		&:hover {
			border: 2px solid #846631;
			opacity: 0.75;
		}

	}
}