@import (reference) '_var.less';

.game {

	.map {
		position: absolute;
	}

	.row {
		display: block;
		width: 120%;

		.block {
			background-size: cover;
			display: inline-block;

			&.center {
				color: #FF2400;
				font-weight: bold;
			}

			&.grass {
				background-image: url('../img/spritesheets/grass.jpg');
				background-position-x: 0px;
			}
		} /* end .block*/

	} /* end .row*/

} /* end .game */
