@import (reference) './_var.less';

html,
body,
.container,
[ui-view] {

	height: 100%;
	width: 100%;

}

/* Scrollbars */
::-webkit-scrollbar {
	height: 8px;
	width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 5px @scrollbar-color-shadow;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}
/* Handle */
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background: @scrollbar-color;
	-webkit-box-shadow: inset 0 0 5px @scrollbar-color-shadow;
}
::-webkit-scrollbar-thumb:window-inactive {
	background: @scrollbar-color-inactive;
}

body {

	overflow: hidden;

}

.footer,
.navbar {

	position: absolute;

}

.navbar {

	top: 0;
	right: 0;
	left: 0;
	height: 20px;
	text-align: right;

}

.footer {

	bottom: 0;

}

.error {

	color: @error-font-color;

}

.table {

	display: table;
	border-collapse: collapse;

}

.table-cell {

	display: table-cell;

}

.table-row {

	display: table-row;

}

.absolute-center {

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.align-left {

	text-align: left;

}

.align-right {

	text-align: right;

}

.hide-overflow {

	overflow: hidden;

}
