@import (reference) '../_var.less';

builder-map {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	min-width: @block-size * @block-x-count + @extra-map-panning;
	min-height: @block-size * @block-y-count + @extra-map-panning;

	.row {
		display: flex;
	}

	.tools {
		padding: 5px;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1;

		.btn {
			background: #ccc;
			border: 1px solid #ddd;
			color: #333;

			&.active {
				background: #333;
				color: #ddd;
			}
		}
	}

	.draw-area {
		position: relative;

		.grid {
			border-left: 1px solid @grid-block-border-color;
			border-top: 1px solid @grid-block-border-color;
			display: inline-block;
			box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.5);

			&.no-border {
				border: none;
			}


			.block {

				&.active  {
					border: 2px solid @grid-block-border-color;
				}
				&.active:after  {
					background: @grid-block-dot-color;
					border: 2px solid @grid-block-dot-border-color;
					border-radius: 8px;
					content: '';
					height: 8px;
					left:50%;
					position: absolute;
					top: 50%;
					transform: translate(-50%, -50%);
					width: 8px;
				}
			}

		}
	}

}
