<div class="tools">
	<button class="btn" ng-click="beginAreaDraw()" ng-class="{'active':getDrawType() === 'area'}">Area (Q)</button>
	<button class="btn" ng-click="beginSingleDraw()" ng-class="{'active':getDrawType() === 'single'}">Single (E)</button>
	<button class="btn" ng-click="fillAll()">Fill (F)</button>
	<button class="btn" ng-click="toggleGrid()">Toggle Grid</button>
	<button class="btn" ng-click="undo()">Undo (Ctrl+Z)</button>
</div>
<div class="draw-area container">
	<div class="grid absolute-center" ng-class="{'no-border':hideGridBorder}">
		<div class="row" ng-repeat="row in ::map" ng-repeat-emit>
			<div class="table-cell block"
				ng-class="{'active':block.active}"
				ng-repeat="block in ::row"
				ng-click="draw(block)"
				ng-style="getBlockStyle(block)">
				</div>
			</div>
		</div>
	</div>
</div>
